<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hrad Kolečko</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="kontejner">
        <div class="uvod">
        <div id="logo_id"class="logo1">
            <img class="logo" src="hrad_kolecko.png">
        </div>

        <div class="shrnuti">
                <p>Tady bude shrnutí. Toto shrnutí bude obsahovat nejdůležitější informace, ketré by návštěvník neměl přehlédnout Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac,</p>
        </div>
        </div>
        <div class="odkazy">
                <UL>
                            <li><a href="#aktualne_id">Aktuálně</a></li>
                            <li><a href="#historie_id">Historie hradu</a></li>
                            <li><a href="#prohlidky_id">Nabídka prohlídek</a></li>
                            <li><a href="#cenik_id">Ceník</a></li>
                            <li><a href="#otevreni_id">Otevírací doba</a></li>
                            <li><a href="#kontakt_id">Kontakt</a></li>
                    
                </UL>
        </div>
        

        <div class="sip">
                <a href="#logo_id"><img class="sipka"src="sipka.png"></a>
        </div>
        <div id="aktualne_id" class="prechod">
                <img class="prechod_obrazek" src="prechod.png">    
        </div>

        <div CLASS="nadpis_aktualne">
                <P>AKTUÁLNĚ</P>
            </div>

        <div class="aktualne">    
            
            <div class="aktualita1">
            <div class="obrazek_aktualne">
                <img src="aktualne1.jpg">
            </div>

            <div class="text_aktualne">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
            </div>
            </div>

            <div class="aktualita2">
            <div class="obrazek_aktualne">
                <img src="aktualne2.jpg">
            </div>
        
            <div class="text_aktualne">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
            </div>
        </div>

        <div class="aktualita3">
                <div class="obrazek_aktualne">
                    <img src="aktualne1.jpg">
                </div>
    
                <div class="text_aktualne">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                </div>
                </div>

        </div>

        <div id="historie_id" class="prechod">
                <img class="prechod_obrazek" src="prechod.png">    
        </div>

                <div class="nadpis_aktualne">
                        <P>Historie hradu</P>
                </div>
                
        <div class="historie">
                <div class="historie1">
                <div class="obrazek_historie">
                    <img src="aktualne1.jpg">
                </div>
                
                <div class="text_historie">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                </div>
            </div>

                <div class="historie2">
                <div class="obrazek_historie">
                <img src="aktualne2.jpg">
                </div>
                
                <div class="text_historie">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                </div>
            </div>

            <div class="historie3">
                    <div class="obrazek_aktualne">
                        <img src="aktualne1.jpg">
                    </div>
        
                    <div class="text_aktualne">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                    </div>
                    </div>
        </div>

        <div id="prohlidky_id" class="prechod">
                <img class="prechod_obrazek" src="prechod.png">    
        </div>
        
                        <div class="nadpis_prohlidky">
                                <P>Nabídka prohlídek</P>
                                </div>
                        
                <div class="prohlidky">
                        <div class="prohlidky1">
                        <div class="obrazek_prohlidky">
                            <img src="aktualne1.jpg">
                        </div>
                        
                        <div class="text_prohlidky">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                        </div>
                    </div>

                        <div class="prohlidky2">
                        <div class="obrazek_prohlidky">
                        <img src="aktualne2.jpg">
                        </div>
                        
                        <div class="text_prohlidky">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                        </div>
                    </div>

                    <div class="prohlidky3">
                            <div class="obrazek_aktualne">
                                <img src="aktualne1.jpg">
                            </div>
                
                            <div class="text_aktualne">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                            </div>
                            </div>

                </div>
            
                <div id="cenik_id" class="prechod">
                        <img class="prechod_obrazek" src="prechod.png">    
                </div>
        
                        <div class="nadpis_cenik">
                            <P>Ceník</P>
                        </div>
                <div class="cenik">    
                        <div class="cenik1">
                        <div class="obrazek_cenik">
                            <img src="aktualne1.jpg">
                        </div>
                        
                        <div class="text_cenik">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                        </div>
                    </div>

                        <div class="cenik2">
                        <div class="obrazek_cenik">
                            <img src="aktualne2.jpg">
                        </div>
                    
                        <div class="text_cenik">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                        </div>
                    </div>

                    <div class="cenik3">
                            <div class="obrazek_aktualne">
                                <img src="aktualne1.jpg">
                            </div>
                
                            <div class="text_aktualne">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                            </div>
                            </div>

                    </div>

                    <div id="otevreni_id" class="prechod">
                            <img class="prechod_obrazek" src="prechod.png">    
                    </div>

                            <div class="nadpis_otevreni">
                                <P>Otevírací doba</P>
                            </div>
                    
                    <div class="otevreni">        
                    
                            <div class="otevreni1">
                            <div class="obrazek_otevreni">
                                <img src="aktualne1.jpg">
                            </div>
                            
                            <div class="text_otevreni">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                            </div>
                        </div>
                
                            <div class="otevreni2">
                            <div class="obrazek_otevreni">
                                <img src="aktualne2.jpg">
                            </div>
                        
                            <div class="text_otevreni">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                            </div>
                        </div>

                        <div class="otevreni3">
                                <div class="obrazek_aktualne">
                                    <img src="aktualne1.jpg">
                                </div>
                    
                                <div class="text_aktualne">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                                </div>
                                </div>

                        </div>

                        <div id="kontakt_id" class="prechod">
                                <img class="prechod_obrazek" src="prechod.png">    
                        </div>
        
                                <div class="nadpis_kontakt">
                                    <P>Kontakt</P>
                                </div>
                                <div class="kontakt">    
                                        <div class="kontakt1">
                                        <div class="obrazek_aktualne">
                                            <img src="aktualne1.jpg">
                                        </div>
                                        
                                        <div class="text_cenik">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                                        </div>
                                    </div>
                
                                        <div class="kontakt2">
                                        <div class="obrazek_aktualne">
                                            <img src="aktualne2.jpg">
                                        </div>
                                    
                                        <div class="text_cenik">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                                        </div>
                                    </div>
                
                                    <div class="kontakt3">
                                            <div class="obrazek_aktualne">
                                                <img src="aktualne1.jpg">
                                            </div>
                                
                                            <div class="text_aktualne">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Donec quis nibh at felis congue commodo. Vivamus luctus egestas leo. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis risus. Integer vulputate sem a nibh rutrum consequat. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Praesent dapibus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa. Maecenas lorem.</p>
                                            </div>
                                            </div>
                
                                    </div>

                        </div>
                    
<div class="zápatí">
        <img class="ruka" src="ruka_zelena.jpg">
        <p>made by rukka</p>
    </div>

        <div class=formular>
        <!-- <form method="POST">
        {% csrf_token %}
        <span style="color: red;">{{error_msg}}</span>
        <br>
        <input type="text" name="a" value={{request.POST.a}}>
        <select name="operator">
            <option value="+" {% if request.POST.operator == "+" %} selected {% endif %}>+</option>
            <option value="-" {% if request.POST.operator == "-" %} selected {% endif %}>-</option>
            <option value="*" {% if request.POST.operator == "*" %} selected {% endif %}>*</option>
            <option value="/" {% if request.POST.operator == "/" %} selected {% endif %}>/</option>
        </select>
        <input type="text" name="b" value={{request.POST.b}}><br>
        <input type="submit"><br>
        {{vysledek}}
        </form> -->
        </div>
    </div>
</body>
</html>